### 데이터 불러오기 - MongoDB

In [30]:
from pymongo import MongoClient
# 네트워크 연결 규칙 : protocol://ip:port/path 
client = MongoClient('mongodb://192.168.0.50:27017/')

db = client["DB_SGMN"]
collection = db["COL_SCRAPPING_TOSS_COMMENT_HISTORY"]

In [31]:
getDatafromDB = collection.find()


data = list(getDatafromDB)

In [32]:
import pandas as pd

In [33]:
dfData = pd.DataFrame(data)

In [34]:
dfData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251836 entries, 0 to 251835
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         251836 non-null  object
 1   COMMENT     251836 non-null  object
 2   CREATED_AT  251836 non-null  datetime64[ns]
 3   DATE        251836 non-null  object
 4   DATETIME    251836 non-null  object
 5   SYMBOL      251836 non-null  object
 6   UPDATED_AT  251836 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 13.4+ MB

In [35]:
dfData.describe(include="all")

,_id,COMMENT,CREATED_AT,DATE,DATETIME,SYMBOL,UPDATED_AT
count,251836,251836,251836,251836,251836,251836,251836
unique,251836,57091,NaN,25,57466,53,63455
top,67698900ab893ad5cda049ea,.,NaN,2024-12-20,2024-12-21T00:31:45+09:00,TSLA,2024-12-14 17:19:20
freq,1,287,NaN,39919,54,177673,11
mean,NaN,NaN,2024-12-16 19:21:54.171097600,NaN,NaN,NaN,NaN
min,NaN,NaN,2024-11-21 23:59:13.068000,NaN,NaN,NaN,NaN
25%,NaN,NaN,2024-12-13 09:41:07.564999936,NaN,NaN,NaN,NaN
50%,NaN,NaN,2024-12-19 00:40:05.740999936,NaN,NaN,NaN,NaN
75%,NaN,NaN,2024-12-20 21:33:52.351000064,NaN,NaN,NaN,NaN
max,NaN,NaN,2024-12-23 09:24:03.263000,NaN,NaN,NaN,NaN

In [36]:
dfDataEdited = dfData.drop(labels='_id',axis=1)
dfDataEdited

,COMMENT,CREATED_AT,DATE,DATETIME,SYMBOL,UPDATED_AT
0,머선일이야,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:36:32+09:00,AADI,2024-11-21 23:58:33
1,뭐냐 너..왜 희망 갖게하냐,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:07:42+09:00,AADI,2024-11-21 23:58:34
2,몇개월 기다리다가 조금 올라서 뺏더니 잘 올라가네.. ㅠ,2024-11-21 23:59:13.068,2024-11-22,2024-11-22T01:00:04+09:00,AADI,2024-11-21 23:58:34
3,얘는 얼마까지 갈까요,2024-11-22 00:01:24.067,2024-11-21,2024-11-21T21:44:58+09:00,AAOI,2024-11-22 00:00:13
4,"애플, 2026년 출시 목표로 시리 전면 개편 추진\n\n(주요내용)\n1. 대규모...",2024-11-22 00:01:24.067,2024-11-22,2024-11-22T07:40:12+09:00,AAPL,2024-11-22 00:00:33
...,...,...,...,...,...,...
251831,결국엔 양전 할듯.. 잘 버팀..,2024-12-23 09:24:03.263,2024-12-21,2024-12-21T00:00:57+09:00,TSLA,2024-12-23 09:24:02
251832,ㅋㅋㅋ중소주 올리고 대장들 들어올려야지?,2024-12-23 09:24:03.263,2024-12-21,2024-12-21T00:00:55+09:00,TSLA,2024-12-23 09:24:02
251833,618 가는거아니면 사면안됨,2024-12-23 09:24:03.263,2024-12-21,2024-12-21T00:00:54+09:00,TSLA,2024-12-23 09:24:02
251834,양자만 올리지말고 이놈도 같이 올려라,2024-12-23 09:24:03.263,2024-12-21,2024-12-21T00:00:33+09:00,TSLA,2024-12-23 09:24:02
251835,근데 네마녀라는 게 오는 시간이 정해져있는건가요??,2024-12-23 09:24:03.263,2024-12-21,2024-12-21T00:00:25+09:00,TSLA,2024-12-23 09:24:02

In [37]:
dataToDicOnlyCommentAndDate = dfDataEdited[['COMMENT', 'DATE']].to_dict(orient="list")
dataToDicOnlyCommentAndDate
type(dataToDicOnlyCommentAndDate)

dict

In [38]:
commentDatasList = dfDataEdited.groupby('DATE')['COMMENT'].apply(list).to_dict()
commentDatasList
type(commentDatasList)

dict

In [39]:
dateList = dataToDicOnlyCommentAndDate['DATE']
commentList = dataToDicOnlyCommentAndDate['COMMENT']
# dateList
type(dateList)

list

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer # Word Embedding
# tfidfVectorizer = TfidfVectorizer()
tfidfVectorizerDate = TfidfVectorizer()
tfidfVectorizerDate.fit(dateList) # 학습용
tfidfVectorizerComment = TfidfVectorizer()
tfidfVectorizerComment.fit(commentList) # 학습용
dateVectors = tfidfVectorizerDate.transform(dateList) # 서비스용
commentVectors = tfidfVectorizerComment.transform(commentList)
# dateVectors
# dateVectors.toarray().shape
# tfidfVectorizer.get_feature_names_out().shape

In [ ]:
tfidf_scores = commentVectors.toarray().sum(axis=0)
tfidf_scores.shape